@font-face{
	font-family: "FuturaLTBook";
	src:url('FuturaLT-Book.ttf') ;
}

body{margin:0;padding:0;font-family: "FuturaLTBook", sans-serif;}

.container{
	width: 960px;
	margin: 0 auto;
}

.jumbotron {
	background: -webkit-linear-gradient(right, #42AD69, #4B9698, #8C4198); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left, #42AD69, #4B9698, #8C4198); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(left, #42AD69, #4B9698, #8C4198); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(left, #42AD69, #4B9698, #8C4198); /* Standard syntax */
 }

.ovals {
	text-align: center;
	padding: 220px 0 50px;
	background-image: url('group.png');
	background-position: center 88px;
	background-repeat: no-repeat;
	color:#fff;
}  	  

.ovals h1{
	text-align: center;
	font-size: 88px;
	
}  

.ovals p {
	font-size: 28px;
	text-align: center;
}

.status{
	height: 200px;
	text-align: center;
	margin:auto;
}

.status div {
	display: inline-block;
}



#ovulation{
	margin-left:30px;
	margin-right: 30px; 
}


.demo{
	text-align: center;
	z-index: 999;
	padding-top: 450px;
	font-size: 1.5em;
}

	
.demo div{
	display: inline-block;
}

.demo .left{
	float:left;
	width: 450px;
	padding-left: 150px;
	padding-top: 200px;
}

.demo .right {
	float:left;
	width: 420px;
}

.footer {
	background-color: #555;
	text-align: center;
	margin-top: 60px;
	color:#aaa;
	padding: 40px 0;
}

.footer .section{
	width: 333px;
	float: left;
	padding: 20px;
}

.footer .section p{
	padding: 10px 40px;
}

.clearfix{
	clear: both;
}

.copyright{
	padding: 40px 0 80px;
	background: #555;
	border-top: 1px solid #666;
	color:#888;
	text-align: center;
}

.copyright a{
	color:#888;
}



